[submodule "fw/external/PicoDVI"]
	path = fw/external/PicoDVI
	url = https://github.com/Wren6991/PicoDVI.git
[submodule "fw/external/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = fw/external/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/carlk3/no-OS-FatFS-SD-SPI-RPi-Pico.git
[submodule "gw/EconoPET/external/verilog-6502"]
	path = gw/EconoPET/external/verilog-6502
	url = https://github.com/Arlet/verilog-6502.git
[submodule "gw/EconoPET/external/65xx"]
	path = gw/EconoPET/external/65xx
	url = https://github.com/kdyke/65xx.git
[submodule "fw/external/pico-vfs"]
	path = fw/external/pico-vfs
	url = https://github.com/dlehenbauer/pico-vfs.git
[submodule "fw/external/sc"]
	path = fw/external/sc
	url = https://github.com/tezc/sc.git
[submodule "gw/EconoPET/external/icesid"]
	path = gw/EconoPET/external/icesid
	url = https://github.com/DLehenbauer/icesid
	branch = efinix-t8
